html{
    font-family: 'Cabin', sans-serif;
    background-color: #2E224F;
    color: #FFFFFF;
}

#heading H1 {
    font-size: 72px;
    margin-bottom: auto;
}

#heading {
    display: flex;
}

h1 {
    font-size: 72px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    color: #FFFFFF;
}

h2 {
    font-size: 20px;
}

#app{
    display: grid;
    gap: 2rem;
    grid-template-columns: 39rem 39rem;
    margin: 0 auto;
    width: 80rem;
    
}

.EventCard {
    border-radius: 12px;
    background-color: #6F44E6;
    box-shadow: 1px 1px 20px #333;
    padding: 1rem;

}

.EventCard:hover{
    background-color: #6D38FF;
    box-shadow: 1px 1px 20px #6232E6;
    transition: all 0.3s;
}


.EventTimeDate{

    font-weight: bold;

}

.EventTitle{
    font-size: 2rem;
    height: 5rem;

}

.EventDescription{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* number of lines to show */
}

button {
    border: 2px solid white;
    padding: 1.5rem;
    background: none;
    color: white;
}