/*body {

}*/

html{
    background-color: lightpink;
}
h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 72px;
    margin-left: 0 auto;
    margin-right: 0 auto;

}

h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}

#app{
    display: grid;
    gap: 2rem;
    grid-template-columns: 20rem 20rem 20rem;
    margin: 0 auto;
    width: 64rem;
}

.EventCard {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 12px;
    background-color: white;
    box-shadow: 1px 1px 20px #333;
    border: 1px solid black;
}