html{
    font-family: 'Cabin', sans-serif;
    background-color: lightpink;
}
h1 {
    font-size: 72px;
}

#app{
    display: grid;
    gap: 2rem;
    grid-template-columns: 20rem 20rem 20rem;
    margin: 0 auto;
    width: 64rem;
    
}

.EventCard {
    border-radius: 12px;
    background-color: white;
    box-shadow: 1px 1px 20px #333;
    padding: 1rem;

}

.EventTimeDate{

    font-weight: bold;

}

.EventTitle{
    font-size: 2rem;
    height: 5rem;

}