html {
    font-family: 'Cabin', sans-serif;
    background-color: #5C24D5;
}

.PageTitle {
    font-size: 72px;
    margin: auto;
    margin-top: 4rem;
    color: #fff;
}

#heading {
    display: block;
    width: 80rem;
    margin: 2rem auto 5rem auto;
}

#headerText {
    text-align: left;
    margin: auto;
}

h1 {
    font-size: 72px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    color: #000;
}

h2 {
    font-size: 20px;
    font-style: italic;
}

#app {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 25rem 25rem 25rem;
    margin: 0 auto;
    width: 80rem;
}

.EventCard {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 1px 1px 20px #5100FF;
    border: 5px black solid;
    padding: 1rem;
}

.EventCard:hover {
    box-shadow: 1px 1px 24px #3500A6;
    transition: all 0.3s;
    transform: translateY(2px) translateX(2px);
}

.EventTimeDate {
    font-weight: 700;
    color: #5C24D5;
}

.EventTitle {
    font-size: 2rem;
    font-weight: 700;
    height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines to show */
}

.EventDescription {
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* number of lines to show */
}

button {
    border: 2px solid white;
    padding: 1.5rem;
    background: none;
    color: white;
}